*.d
*.o
*.class
**/.*
./.*/*.d
./.*/*.o
./.gdb_history
.DS_Store
hog/apps/hog/objs/
hog/apps/libs/
hog/bin/
hog/hog.log
hog/libs/
hog/maps
hog/objs/
hog/results_FlexibleAStar
hog/results_JPSR0
hog/results_unitSimulation
hog/scenarios
hog/tags
maps/corner_graphs/
maps/local/CSC2F.map.jps+
maps/map.zip
maps/maps
maps/random/
maps/sc1/
maps/subgoal_graphs/
scenarios/scenarios
warthog.current/
warthog/.gdb_history
warthog/.RData
warthog/.Rhistory
warthog/.exrc
warthog/.swp
warthog/TODO
warthog/bin
warthog/cscope.in
warthog/cscope.out
warthog/lib
warthog/wtf
warthog_crap/
warthog/dimacs
warthog/maps
warthog/results
warthog/scenarios
warthog/tags
warthog/testdata
warthog/*log
warthog/*results*
warthog/compile_commands.json
*/.cache
**/__pycache__/
warthog/build
